<div class="header-bg">
    <div class="container">
        <div class="header-inner">
            <div class="row">
                <div class="col-6">
                    <div class="site-name">
                        <img src="./../../assets/images/logo.png" alt="" class="logo">
                        Cafe de Baku
                    </div>
                </div>
                <div class="col-6">
                    <div class="nav">
                        <ul>
                            <li> <a routerLink="/home" routerLinkActive="active" href="">HOME</a>
                            </li>
                            <li> <a routerLink="/menu" routerLinkActive="active" href="">MENU</a>
                            </li>
                            <li> <a routerLink="/order" routerLinkActive="active" href="">ORDER</a>
                            </li>
                            <li> <a routerLink="/contact" routerLinkActive="active" href="">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>