<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label"> First Name </label>
                <input type="text" required formControlName="firstname" name="name" id="name" placeholder="First Name"
                    class="formbold-form-input" />
            </div>

            <div class="formbold-mb-5">
                <label for="subject" class="formbold-form-label"> Last Name </label>
                <input type="text" formControlName="lastname" name="Last Name" id="lastname"
                    placeholder="Enter your Last Name" class="formbold-form-input" />
            </div>

            <div class="formbold-mb-5">
                <label for="email" class="formbold-form-label"> Email Address </label>
                <input type="email" formControlName="email" name="email" id="email" placeholder="Enter your email"
                    class="formbold-form-input" />
            </div>

            <div class="formbold-mb-5">
                <label for="message" class="formbold-form-label"> Message </label>
                <textarea rows="6" formControlName="message" name="message" id="message" placeholder="Type your message"
                    class="formbold-form-input"></textarea>
            </div>

            <div>
                <button class="formbold-btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>