<div class="rm-middle">
    <div class="rm-inner">
        <div class="rm-content">
            <h4><span class="drinkss">Pİzzalar</span></h4>
            <dl>
                <dt><a href="#menu" class="rm-viewdetails d-flex justify-content-left" data-thumb="images/012.jpg">Pİzza
                        Margarita</a>
                    <p class="price-right">6 AZN</p>
                </dt>
                <dd>Pomidor sousu, mozarella pendiri</dd>

                <dt><a class="d-flex justify-content-left">Pİzza Quattro Formaggİo (Dörd pendİr)</a>
                    <p class="price-right">8 AZN</p>
                </dt>
                <dd>Pomidor sousu, mozarella pendiri</dd>

                <dt><a href="#menu" class="rm-viewdetails d-flex justify-content-left" data-thumb="images/013.jpg">Pİzza
                        Pollo</a>
                    <p class="price-right">8 AZN</p>
                </dt>
                <dd>Pomidor sousu, mozarella pendiri, toyuq filesi</dd>

                <dt><a class="d-flex justify-content-left">Pİzza BBQ toyuq</a>
                    <p class="price-right">9 AZN</p>
                </dt>
                <dd>Pomidor sousu, mozarella pendiri, hisə verilmiş toyuq filesi, BBQ sousu</dd>
                <br>
                <h4><span class="drinkss">Klassİk Qəhvələr</span></h4>

                <dt><a class="d-flex justify-content-left">
                        Espresso</a>
                    <p class="price-right">3 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Cappuccİno</a>
                    <p class="price-right">5 AZN</p>
                </dt>

                <dt> <a class="d-flex justify-content-left">
                        Amerİcano</a>
                    <p class="price-right">4 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Caffe Latte</a>
                    <p class="price-right">5 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Espresso macchİato</a>
                    <p class="price-right">4 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Espresso con panna</a>
                    <p class="price-right">4 AZN</p>
                </dt>

                <dt><a href="#menu" class="rm-viewdetails d-flex justify-content-left" data-thumb="images/01.jpg">
                        Coffee De Baku</a>
                    <p class="price-right">5 AZN</p>
                </dt>
                <dd style="margin-top: -10px;">
                    Fındıq; Karamel; Vanil; İrİsh creme</dd>

                <dt><a class="d-flex justify-content-left">
                        İstİ şokolad</a>
                    <p class="price-right">5 AZN</p>
                </dt>
                <dd style="margin-top: -10px;">Dark / White</dd>

                <dt><a class="d-flex justify-content-left" style="margin-top: -10px;">
                        Caramel macchİato</a>
                    <p class="price-right">4 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Klassİk Türk Qəhvəsi</a>
                    <p class="price-right">4 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Südlü Türk Qəhvəsi</a>
                    <p class="price-right">4 AZN</p>
                </dt>

                <dt><a class="d-flex justify-content-left">
                        Double Espresso</a>
                    <p class="price-right">4 AZN</p>
                </dt>
            </dl>
        </div><!-- /rm-content -->
        <div class="rm-overlay"></div>
    </div><!-- /rm-inner -->
</div>