<div class="cover d-flex justify-content-center">
    <div class="book">
        <label for="page-1" class="book__page book__page--1">
            <img src="./../../assets/images/menu-kapak.jpg" alt="">
        </label>

        <label for="page-2" class="book__page book__page--4">
            <div class="page__content ">
                <div class="rm-middle">
                    <div class="rm-inner">
                        <div class="rm-content">
                            <h4><span class="drinkss">Desertlər</span></h4>
                            <dl>
                                <dt><a (click)="openDialog()" class="rm-viewdetails d-flex justify-content-left"
                                        data-thumb="images/012.jpg">LİMONLU CHEESE CAKE
                                    </a>
                                    <!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->

                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">MERINGUE CAKE</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="rm-viewdetails d-flex justify-content-left"
                                        data-thumb="images/013.jpg">RED VELVET CAKE</a>
                                    <p class="price-right">5 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">BALLI TORT</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">FISTIQLI TORT(MORUQLU JELE İLƏ)
                                    </a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">ŞOKOLADLI EKLER
                                    </a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <br>
                                <h4><span class="drinkss">İÇKİLƏR /
                                        MEYVƏ ŞİRƏLƏRİ /
                                        FRESH MEYVƏ SULARI</span></h4>

                                <dt><a class="d-flex justify-content-left">
                                        Espresso</a>
                                    <p class="price-right">3 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Cappuccİno</a>
                                    <p class="price-right">5 AZN</p>
                                </dt>

                                <dt> <a class="d-flex justify-content-left">
                                        Amerİcano</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Caffe Latte</a>
                                    <p class="price-right">5 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Espresso macchİato</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Espresso con panna</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="rm-viewdetails d-flex justify-content-left" data-thumb="images/01.jpg">
                                        Coffee De Baku</a>
                                    <p class="price-right">5 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        İstİ şokolad</a>
                                    <p class="price-right">5 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Klassİk Türk Qəhvəsi</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Südlü Türk Qəhvəsi</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>

                                <dt><a class="d-flex justify-content-left">
                                        Double Espresso</a>
                                    <p class="price-right">4 AZN</p>
                                </dt>
                            </dl>
                        </div><!-- /rm-content -->
                        <div class="rm-overlay"></div>
                    </div><!-- /rm-inner -->
                </div>
            </div>
        </label>

        <!-- Resets the page -->
        <input type="radio" name="page" id="page-1" />

        <!-- Goes to the second page -->
        <input type="radio" name="page" id="page-2" />
        <label class="book__page book__page--2">
            <div class="book__page-front">
                <div class="page__content">
                    <h1 class="page__content-book-title">Foundational</h1>
                    <h2 class="page__content-author">Isaac Asimov</h2>

                    <p class="page__content-credits">
                        Introduction by
                        <span>Paul Krugman</span>
                    </p>

                    <p class="page__content-credits">
                        Illustrations by
                        <span>Alex Wells</span>
                    </p>

                    <div class="page__content-copyright">
                        <p>The Folio Society</p>
                        <p>London - MMXII</p>
                    </div>
                </div>
            </div>
            <div class="book__page-back pl-5 ml-5">
                <div class="page__content">
                    <div class="rm-middle">
                        <div class="rm-inner">
                            <div class="rm-content">
                                <h4><span class="drinkss">Pİzzalar</span></h4>
                                <dl>
                                    <dt><a (click)="openDialog()" class="rm-viewdetails d-flex justify-content-left"
                                            data-thumb="images/012.jpg">Pİzza
                                            Margaritass</a>
                                        <p class="price-right">6 AZNss</p>
                                    </dt>
                                    <dd>Pomidor sousu, mozarella pendiri</dd>

                                    <dt><a class="d-flex justify-content-left">Pİzza Quattro Formaggİo (Dörd pendİr)</a>
                                        <p class="price-right">8 AZN</p>
                                    </dt>
                                    <dd>Pomidor sousu, mozarella pendiri</dd>

                                    <dt><a class="rm-viewdetails d-flex justify-content-left"
                                            data-thumb="images/013.jpg">Pİzza
                                            Pollo</a>
                                        <p class="price-right">8 AZN</p>
                                    </dt>
                                    <dd>Pomidor sousu, mozarella pendiri, toyuq filesi</dd>

                                    <dt><a class="d-flex justify-content-left">Pİzza BBQ toyuq</a>
                                        <p class="price-right">9 AZN</p>
                                    </dt>
                                    <dd>Pomidor sousu, mozarella pendiri, hisə verilmiş toyuq filesi, BBQ sousu</dd>
                                    <br>
                                    <h4><span class="drinkss">Klassİk Qəhvələr</span></h4>

                                    <dt><a class="d-flex justify-content-left">
                                            Espresso</a>
                                        <p class="price-right">3 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Cappuccİno</a>
                                        <p class="price-right">5 AZN</p>
                                    </dt>

                                    <dt> <a class="d-flex justify-content-left">
                                            Amerİcano</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Caffe Latte</a>
                                        <p class="price-right">5 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Espresso macchİato</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Espresso con panna</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt>

                                    <dt><a class="rm-viewdetails d-flex justify-content-left"
                                            data-thumb="images/01.jpg">
                                            Coffee De Baku</a>
                                        <p class="price-right">5 AZN</p>
                                    </dt>
                                    <dd style="margin-top: -10px;">
                                        Fındıq; Karamel; Vanil; İrİsh creme</dd>

                                    <dt><a class="d-flex justify-content-left">
                                            İstİ şokolad</a>
                                        <p class="price-right">5 AZN</p>
                                    </dt>
                                    <dd style="margin-top: -10px;">Dark / White</dd>

                                    <!-- <dt><a class="d-flex justify-content-left" style="margin-top: -10px;">
                                            Caramel macchİato</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Klassİk Türk Qəhvəsi</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Südlü Türk Qəhvəsi</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt>

                                    <dt><a class="d-flex justify-content-left">
                                            Double Espresso</a>
                                        <p class="price-right">4 AZN</p>
                                    </dt> -->
                                </dl>
                            </div><!-- /rm-content -->
                            <div class="rm-overlay"></div>
                        </div><!-- /rm-inner -->
                    </div>
                </div>
            </div>
        </label>
    </div>
</div>