<section class="tm-welcome-section">
    <div class="container tm-position-relative">
        <div class="tm-lights-container">
            <img src="./../../assets/images/light.png" alt="Light" class="light light-1">
            <img src="./../../assets/images/light.png" alt="Light" class="light light-2">
            <img src="./../../assets/images/light.png" alt="Light" class="light light-3">
        </div>
        <div class="row tm-welcome-content">
            <h2 class="white-text tm-handwriting-font tm-welcome-header"><img
                    src="./../../assets/images/header-line.png" alt="Line" class="tm-header-line">&nbsp;Welcome
                To&nbsp;&nbsp;<img src="./../../assets/images/header-line.png" alt="Line" class="tm-header-line"></h2>
            <h2 class="gold-text tm-welcome-header-2">Cafe de Baku</h2>
            <p class="gray-text tm-welcome-description">Cafe de Baku template is a mobile-friendly responsive <span
                    class="gold-text">Bootstrap v3.3.5</span> layout by <a rel="nofollow"
                    href="http://www.templatemo.com"><span class="gold-text">templatemo</span></a>. Lorem ipsum dolor
                sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculusnec quam felis, ultricies nec,
                pellentesque eu, pretium quis, sem.</p>
            <a href="#main" class="tm-more-button tm-more-button-welcome">Details</a>
        </div>
        <img src="./../../assets/images/table-set.png" alt="Table Set" class="tm-table-set img-responsive">
    </div>
</section>